numpy
pandas
matplotlib
pyarrow
scikit-learn
scipy
umap-learn
seaborn
pypalettes
joblib
plotly
tqdm
ipython
torch
transformers
openai
tiktoken
python-dotenv
dcor
matplotlib-venn
jupyterlab
nbformat
nbconvert
ipykernel
